<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li>
        <a style="background: #fff;border-radius:50%;width:100px;height:100px;padding:21px;margin:15px auto;">
          <img src="assets/images/logo.png" style="width:65px;height:65px;"/>
        </a>
      </li>
      <!-- <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span>
            <span class="text-muted text-xs block">Art Director <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li> -->
      <!-- <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-th-large"></i> <span class="nav-label">Starter view</span></a>
      </li> -->

      <li [ngClass]="{active: activeRoute('dashboard')}">
        <a [routerLink]="['/dashboards/dashboard2']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Leaderboard</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Combines</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Athletes</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Divisions</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">College Division</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Positions</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Combine Type</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Sport</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Grad Class</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Analysis</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Review</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Organization</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute(' ')}">
        <a [routerLink]="['/ ']">
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Users</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
